<h1>Welcome to Luke's Image Repo!</h1>

<h3><%= link_to "Click Here To See The Image's!", "/images" %></h3>

<% if !current_user %>
  <section class='login'>
    <p>Please Log In or Register!</p>
    <p><%= link_to 'Log In', login_path %></p>
    <p><%= link_to 'Register', registration_path %></p>
  </section>
  <% else %>
  <section class='logged_in'>
    <p>You're logged in <%= current_user.name%>!</p>
  </section>
<% end  %>
