<h1>Welcome to the Image Repo!</h1>

<% if !current_user %>
  <section class='login'>
    <p>Please Log In or Register!</p>
    <p><%= link_to 'Log In', "/login" %></p>
    <p><%= link_to 'Register', "/register" %></p>
  </section>
<% end  %>
