<p id="notice"><%= notice %></p>

<h1>Images</h1>

<%= render "shared/image_results" %>

<br>

<% if !current_user %>
  <p>If you'd like to upload an image, please log in!</p>
<% else %>
  <%= link_to 'New Image', '/images/new' %>
<% end %>
