<div class="push"></div>
<footer class="footer navbar-fixed-bottom">
  <div class="container">
      <ul>
        <a href="https://github.com/LHJE/shopify_image_repo">Click here to see the Github Repo this app is based on</a>
      </ul>
  </div>
</footer>
